---
import ExternalLink from 'components/external-link.astro';
import Timeline from 'components/timeline.astro';
import MainLayout from 'layouts/main-layout.astro';
---

<MainLayout
  title="About Georgiy Tarasov"
  description="Georgiy is a software developer, specialty coffee enthusiast, and a kinda an entrepreneur. I work at PostHog and bootstrap a business."
>
  <div class="flex flex-col items-start justify-center">
    <h1 class="mb-8 mt-8 text-3xl font-bold tracking-tight md:text-6xl">About</h1>
    <h2 class="prose mb-8 dark:prose-dark sm:mb-16">
      I’m a <s>software engineer</s>
      <a href="https://posthog.com/blog/what-is-a-product-engineer" target="_blank">product engineer</a>, a kinda an
      entrepreneur, and a specialty coffee enthusiast. I'm a part of <a href="https://posthog.com" target="_blank"
        >PostHog</a
      >, working on the AI team focusing on agentic systems. In my free time, I bootstrap my products, leveraging my
      skills and resources to create and launch cool stuff independently.
    </h2>
    <h3 class="mb-4 text-xl font-bold tracking-tight md:text-3xl">Bio</h3>
    <p class="prose mb-2 dark:prose-dark">
      I live in Barcelona, Spain. Software development is both my primary business and hobby. My journey into
      programming began with writing Lua scripts for a popular online game just for fun. I quickly realized that there
      was a niche selling extensions and plugins to others, so it became a small enterprise and a fun hobby for the next
      few years. Later in life, I started a few businesses and joined a failed startup.
    </p>
    <p class="prose mb-2 dark:prose-dark">
      Previously, I was a Founding Engineer at
      <a href="https://hellosleuth.com" target="_blank">Sleuth</a>, which was a search engine for children&rsquo;s
      health information. The company aimed to displace WebMD and Dr. Google by creating the largest crowdsourced
      platform for real-world kids&rsquo; health data. I had also worked at a product accelerator company, which
      provided a unique opportunity to work across a variety of markets, such as fintech, proptech, insurtech, sports,
      online education, and others. Throughout my career, I have successfully developed and launched over 20 products.
    </p>
    <p class="prose mb-2 dark:prose-dark">
      In my spare time I enjoy contributing to open source projects, launching drones to sky, travelling around the
      world, doing a <a target="_blank" href="https://en.wikipedia.org/wiki/Nosework">nosework</a> with my dog. Another passion
      of mine is cars and racing.
    </p>
    <p class="prose mb-8 dark:prose-dark sm:mb-16">
      I&rsquo;m a big fan of web technologies. By the way, this website was built using Astro, Tailwind, vanilla
      JavaScript (transpilled TypeScript in fact), and hosted on Cloudflare Pages. You can find the source code on <ExternalLink
        href="https://github.com/skoob13/tarasov.dev">Github.</ExternalLink
      >
    </p>
    <h3 class="mb-4 text-xl font-bold tracking-tight md:text-3xl">Links</h3>
    <ul class="mb-8 flex flex-col gap-2 sm:mb-16">
      <li class="prose dark:prose-dark">
        📸 <a target="_blank" href="https://instagram.com/tarasovg">instagram</a>
      </li>
      <li class="prose dark:prose-dark">
        👨‍💻 <a target="_blank" href="https://github.com/skoob13">github</a>
      </li>
      <li class="prose dark:prose-dark">
        📝 <a target="_blank" href="https://twitter.com/anottoday">twitter</a>
      </li>
      <li class="prose dark:prose-dark">
        📧 <a target="_blank" href="mailto:gtarasov.work@gmail.com">email</a>
      </li>
    </ul>
    <h3 class="mb-4 text-xl font-bold tracking-tight md:text-3xl">Timeline</h3>
    <Timeline />
  </div>
</MainLayout>
